*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Arial', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    transition: border-color 0.3s;
}

.search-box input:focus{
    border-color: #007BFF;
    outline: none;
}

.search-box button{
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.search-box button:hover{
    background-color: #0056b3;
}

.weather-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.weather-img{
    width: 100px;
    height: auto;
}

.weather-box{
    background: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    text-align: center;
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #dc3545;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 150px;
    height: auto;
}